@using LitvaKebabs.Services
@page "/staff-portal"
@rendermode InteractiveServer

<PageTitle>Staff portal</PageTitle>

<h1 class="text-center">Welcome to the staff portal</h1>
<div class="container-fluid">
    <h2 class="card-subtitle">Menu management</h2>
    <div class="btn-toolbar" role="toolbar">
       <button class="btn btn-primary" @onclick="AddMenuItem">Add new item</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Menu item ID</th>
                <th scope="col">Menu item</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var menuItem in _menuService.GetMenuItems())
            {
            <tr>
                <td>@menuItem.Id</td>
                <td>
                    @if(!ToggleEditMode) {
                        @menuItem.Name
                    }
                    else {
                        <input type="text" value="@menuItem.Name"/>
                    }
                    <button class="btn btn-dark ps-10" @onclick="(() => ToggleEditMode = true)">Edit</button>
                    <button class="btn btn-danger ps-10" @onclick="(() => _menuService.DeleteMenuItem(menuItem.Id))">Remove</button>
                </td>
                <td>
                    @if(!ToggleEditMode) {
                        @menuItem.Price
                    }
                    else {
                        <input type="text" value="@menuItem.Price"/>
                    }
                    
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<AddMenuItemDialog @ref="dialog" />

@code {
    MenuService _menuService = new();
    
    AddMenuItemDialog dialog;

    private void AddMenuItem()
    {
        dialog.Show();
    }

    private bool ToggleEditMode = false;
}