@using LitvaKebabs.Services
@using LitvaKebabs.Models
@page "/staff-portal"
@rendermode InteractiveServer

<PageTitle>Staff portal</PageTitle>

<h1 class="text-center">Welcome to the staff portal</h1>
<div class="container-fluid">
    <h2 class="card-subtitle">Menu management</h2>
    <div class="btn-toolbar" role="toolbar">
       <button class="btn btn-primary" @onclick="AddMenuItem">Add new item</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Menu item ID</th>
                <th scope="col">Menu item</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var menuItem in _menuService.GetMenuItems())
            {
            <tr>
                <td>@menuItem.Id</td>
                <td>                    
                    <span class="p-1">Current value:</span>
                    @menuItem.Name
                    
                    <InputText id="nameField" bind-Value="@NewName" ValueExpression="() => NewName"/>
                    @NewName

                </td>
                <td>
                    <span class="p-1">Current value:</span>
                    @menuItem.Price
                    <label for="nameField">New value:</label>
                    <InputNumber TValue="decimal" bind-Value="@NewPrice" ValueExpression="() => NewPrice"/>
                    @NewPrice
                    
                </td>
                    <td>
                        <button class="btn btn-primary mx-1" @onclick="(() => _menuService.UpdateMenuItem(menuItem))">Modify</button>
                        <button class="btn btn-danger mx-1" @onclick="(() => _menuService.DeleteMenuItem(menuItem.Id))">Remove</button>
                    </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<AddMenuItemDialog @ref="dialog" />
